<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="locationlike.js"></script>
</head>
<body style="text-align:center;">
	<div style="padding-top:200px">
       <img src="appamark.png"></img>
       <br>
       <!--<input type="button" id="like" name="like" value=" Like " onClick="clickedMe(true)" />-->
       <img src="like.jpg" onClick="clickedMe(true)" />
       <br><br>
       <img src="unlike.jpg" onClick="clickedMe(false)" />
       <!--<input type="button" id="unlike" name="unlike" value="UnLike" onClick="clickedMe(false)" />-->
    </div>
</body>
</html>